$blue:#3B5DFA;
$light-blue:#68a8fc;
$red:#C03639;
$pink: #ff3a46;
$green: #14c2b1;
$tiffany: #15caba;
$yellow:#FEC171;
$panGreen: #30B08F;
$--color-primary: #ff4200!default;
$--color-white: #fff!default;
$--color-success:#00ba81;
$--color-danger:#FF3A46;
$--color-black:#1A2138;
$--color-black1:#151a30;
//sidebar
// $menuBg:#304156;
$subMenuBg:#fff;
$menuHover:#ffece6;
//$menuHover:#f5f7fa;
